<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/header'); %>
    </header>
    <main>
      <p>about</p>
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>