<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/header'); %>
    </header>
    <main>
      <div class="jumbotron">
        <div class="bg-image" height: 50vh">
        <div class="container" style="display: flex; justify-content: center; align-items: center; height: 50vh">
          <h1>Web Application EJS + Express</h1>
      </div>
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>